@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500;600;700;800&display=swap');
* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

html {
font-size: 10px;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
scroll-behavior: smooth;
}

body {
line-height: 1.4;
font-size: 14px;
color: #252a2b;
overflow-x: hidden;
background: #fff;
position: initial !important;
}

body {
font-family: 'Open Sans', sans-serif;
color: #595959;
}

a {
text-decoration: none;
outline: none;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
-webkit-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
&:hover{
    text-decoration: none;
}
}

img {
max-width: 100%;
height: auto;
}


@media (min-width: 1200px) {
    .container.container-fluid-cs {
        max-width: 1600px;
        padding: 0 85px;
        width: 100%;
    }
}


/* */

.mainheader-height {
background: #004951;
.header-navbar-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 79px;
    .main-nav {
        text-align: center;
        //padding: 0 40px;
        ul {
            list-style: none;
            padding-left: 0;
            margin: 0;
            li {
                position: relative;
                float: none;
                display: inline-block;
                z-index: 10;
                a {
                    color: #9fc0c4;
                    text-decoration: none;
                    display: block;
                    font-size: 14px;
                    text-transform: uppercase;
                    position: relative;
                    padding: 0 17px;
                    cursor: pointer;
                }
            }
            
        }
    }
    .item-link-lang {
        text-align: right;
        float: right;
        div {
            position: absolute;
            display: flex;
            top: 0;
            a {
                color: #9fc0c4;
                text-decoration: none;
                display: block;
                font-size: 14px;
                text-transform: uppercase;
                position: relative;
                padding: 0 17px;
                cursor: pointer;
            }
            span {
                color: #9fc0c4;
            }
        }
    }
    .main-nav.nav-left {
        text-align: left;
        position: relative;
    }
    nav.main-nav.nav-right {
        text-align: right;
        position: relative;
    }
    .main-nav-center {
        min-width: 120px;
        position: relative;
        //padding: 22px;
        &::before {
            content: "";
            background: #004a51;
            height: 80px;
            width: 100%;
            display: inline-block;
            position: absolute;
            top: 35px;
            z-index: 9;
            border-radius: 0 0 60px 60px;
            left: 0;
        }
        .wrapper-logo {
            transform: translate(-50%, -10%);
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 9999;
            width: 80%;
            a {
                display: block;
                img {
                    max-height: 114px;
                }
            }
        }
    }
}
}

.item-bannerm {
a {
    display: block;
    img {
        display: block;
        width: 100%;
        height: auto;
    }
}
}

.banner-main {
position: relative;
width: 100%;
height: 100%;
}

.hompage-banner-secc {
position: relative;
.wrapper-banner_content {
    .item-banner-content {
        position: absolute;
        top: 17%;
        transform: translate(-50%, -30%);
        left: 50%;
        text-align: center;
        .banner_title {
            h4 {
                text-transform: uppercase;
                margin-top: 5px;
                margin-bottom: 20px;
                font-size: 29px;
                font-weight: 400;
                font-family: 'Alegreya', serif;
                color: #595959;
            }
        }
        .banner_subtitle {
            margin-top: 30px;
            display: inline-block;
            p {
                text-align: left;
                font-size: 16px;
                color: #595959;
                font-weight: 400;
                margin-bottom: 0;
            }
        }
    }
}
}

.section-ecological {
background: #e8f7fa;
padding: 80px 0;
position: relative;
.la-ne {
    max-width: 350px;
    position: absolute;
    right: 0;
    top: 1%;
    z-index: 10;
}
.grid_sth__content {
    .sth_title {
        text-align: center;
        a {
            display: block;
            img {
                max-height: 140px;
            }
        }
    }
    .sth_item-content {
        margin-top: 50px;
        position: relative;
        &::before {
            position: absolute;
            height: 100%;
            content: "";
            border: 1px solid #d0af9f;
            left: 50%;
            @media (max-width: 991px) {
                display: none;
            }
        }
    }
    .sth_item-content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .item_content {
            flex: 0 0 43%;
            //margin-bottom: 85px;
            &:nth-child(even) {
                margin-top: 100px;
                @media (max-width: 991px) {
                    margin-top: 45px;
                }
            }
            @media (max-width: 991px) {
                margin-top: 45px;
            }
            .item_content--banner {
                border: 1px solid #d0af9f;
            }
            .item_content--banner {
                margin-bottom: 35px;
                position: relative;
                overflow: hidden;
                padding-top: 52%;
                @media (max-width: 991px) {
                    margin-bottom: 20px;
                }
                a {
                    display: block;
                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
            .item_content--text {
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                .c-text-img {
                    min-width: 75px;
                    margin-right: 40px;
                    @media (max-width: 991px) {
                        min-width: 60px;
                        margin-right: 25px;
                    }
                    a {
                        display: block;
                    }
                }
                span {
                    font-size: 16px;
                    @media (max-width: 480px) {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
}

.section-location {
padding: 100px 0 50px;
position: relative;
background-image: url('../images/banner/bg-location.png');
background-repeat: no-repeat;
background-size: cover;
.lane {
    max-width: 350px;
    position: absolute;
    left: 0;
    top: -10%;
    z-index: 10;
}
.wrapper-section-location {
    display: flex;
    align-items: center;
    .grid_lct__content {
        .lct_title {
            @media (max-width: 991px) {
                text-align: center;
            }
            img {
                @media (max-width: 991px) {
                    max-width: 350px;
                }
            }
        }
        .lct_item-content {
            @media (max-width: 991px) {
                margin-bottom: 25px;
            }
            .lct_item_title {
                h4 {
                    text-transform: uppercase;
                    margin-top: 5px;
                    margin-bottom: 20px;
                    font-size: 29px;
                    font-weight: 400;
                    font-family: "Alegreya", serif;
                    color: #f9f9f9;
                    text-align: right;
                    @media (max-width: 991px) {
                        text-align: center;
                    }
                }
            }
            .lct_item_text {
                text-align: justify;
                margin-top: 50px;
                @media (max-width: 991px) {
                    text-align: center;
                    margin-top: 25px;
                }
                p {
                    color: #f9f9f9;
                    font-size: 16px;
                    @media (max-width: 991px) {
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .wrapper-map {
        position: relative;
        .dot-ani {
            position: absolute;
            bottom: 27%;
            left: 64%;
            transform: translate(-50%, -50%);
        }
    }
}
}

.wrapper-block_timelime {
.timeline {
    margin: 70px 0;
    list-style-type: none;
    display: flex;
    padding: 0;
    text-align: center;
    width: 100%;
    .swiper-slide-timeline {
        flex: 1;
    }
}
.timeline li {
    transition: all 200ms ease-in;
}
.timestamp {
    width: 100%; // for flexible width
    margin-bottom: 20px;
    padding: 0px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 100;
    .date {
        color: #9fc0c4;
        font-weight: bold;
    }
}
.status {
    padding: 0px 40px;
    display: flex;
    justify-content: center;
    border-top: 2px solid #376165;
    position: relative;
    transition: all 200ms ease-in;
}
.status ul {
    font-weight: 600;
    padding-top: 30px;
    text-align: left;
    padding-left: 50px;
    li {
        font-weight: 400;
        color: #9fc0c4;
    }
}
.status ul:before {
    content: "";
    width: 24px;
    height: 24px;
    background-color: #a7d7dc;
    border-radius: 25px;
    border: 6px solid #3f6569;
    position: absolute;
    top: -13px;
    left: calc(50% - 12px);
    transition: all 200ms ease-in;
}
}

.section-utili {
.wrapper-section-utili {
    margin-top: 50px;
    @media (max-width: 991px) {
        margin-top: 25px;
    }
    .ultili_title {
        text-align: center;
        a {
            display: block;
            img {
                max-height: 120px;
                @media (max-width: 991px) {
                    max-width: 350px;
                }
            }
        }
        h4 {
            text-transform: uppercase;
            margin-top: 5px;
            margin-bottom: 20px;
            font-size: 29px;
            font-weight: 400;
            font-family: "Alegreya", serif;
            color: #f9f9f9;
            text-align: center;
        }
    }
}
}

.section-utili {
#slider-slick-home .owl-stage-outer {
    border: 2px solid #37b1bd;
}
#slider-slick-home .owl-stage {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    .owl-item {
        flex: 1;
        transition: all 500ms ease-in-out;
        &:hover {
            flex-grow: 4;
        }
    }
    .card {
        //transition: all 500ms ease-in-out;
        height: 600px;
        position: relative;
        div {
            display: inline;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        span {
            color: #fff;
            transition: all 0.5s ease-in-out;
            min-width: 100%;
            text-align: center;
            position: absolute;
            bottom: 0;
            left: 0;
            white-space: nowrap;
            padding: 10px 20px;
            background: #8989899e;
            background: #8989899e;
            text-transform: uppercase;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all 1s ease-in-out;
        }
    }
}
}

.section-plane {
padding: 70px 0;
@media (max-width: 991px) {
    padding: 40px 0;
}
.grid_sth__content {
    .place-title {
        h4 {
            text-transform: uppercase;
            margin-top: 5px;
            margin-bottom: 20px;
            font-size: 35px;
            font-weight: 400;
            font-family: "Alegreya", serif;
            color: #578287;
            text-align: center;
        }
    }
    .place-table {
        .htp-tablinks-el {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 30px 0;
            @media (max-width:767px) {
                flex-wrap: wrap;
            }
            .htp-tablink {
                font-size: 15px;
                text-transform: uppercase;
                color: #7f9b9d;
                background: #fff;
                border: 1px solid #7f9b9d;
                margin: 0 10px;
                padding: 5px 5px;
                border-radius: 5px;
                font-weight: 500;
                @media (max-width: 767px) {
                    font-size: 14px;
                    margin-bottom: 15px;
                }
            }
            .htp-tablink.active {
                background: #7f9b9d;
                color: #fff;
            }
        }
    }
    .htp-tabcontents {
        overflow: hidden;
        .htp-tabcontent {
            display: none;
        }
        .htp-tabcontent.active {
            display: block;
            -webkit-animation: fadeEffect 1s;
            animation: fadeEffect 1s;
        }
        .htp-tabcontent {
            .item {
                padding: 25px;
                border: 1px solid #7f9b9d;
                border-radius: 5px;
                margin: 0 5px;
                a {
                    display: block;
                    img {
                        max-width: 70%;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}
}

.section-video {
background: #00373d;
padding: 70px 0;
position: relative;
@media (max-width: 991px) {
    padding: 40px 0;
}
&::after {
    content: "";
    background-image: url('../images/banner/co.png');
    background-size: cover;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 99;
    left: 0;
    height: 90px;
}
.wrapper-video {
    .grid_video__content {
        .video_title {
            text-align: center;
            a {
                display: block;
                img {
                    max-height: 120px;
                    @media (max-width: 991px) {
                        max-width: 320px;
                    }
                }
            }
            h4 {
                text-transform: uppercase;
                margin-top: 5px;
                margin-bottom: 20px;
                font-size: 29px;
                font-weight: 400;
                font-family: "Alegreya", serif;
                color: #f9f9f9;
                text-align: center;
            }
        }
        .subtitle-content {
            text-align: left;
            color: #9fc0c4;
            font-size: 16px;
            margin: 0 auto;
            margin-top: 40px;
            width: 75%;
            @media (max-width: 991px) {
                width: 75%;
            }
        }
        .video-content {
            margin: 50px 0;
            .video-responsive {
                overflow: hidden;
                padding-bottom: 56.25%;
                position: relative;
                height: 0;
                display: block;
                iframe {
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: 100%;
                    position: absolute;
                }
            }
        }
    }
}
}

.section-investment {
padding: 40px 0 50px;
@media (max-width: 991px) {
    padding: 40px 0;
}
background: #f9fff7;
.wrapper-investment {
    .homepage-banner-investment {
        h4 {
            color: #c79b74;
            text-transform: uppercase;
            margin-top: 0;
            margin-bottom: 35px;
            font-size: 35px;
            font-weight: 400;
            font-family: "Alegreya", serif;
            text-align: center;
        }
        a {
            display: block;
            img {
                display: block;
                width: 100%;
                height: auto;
            }
        }
    }
}
}

.section-investment {
.investment-table {
    position: relative;
    left: 75px;
    .htp-tablinks-investment {
        position: relative;
        display: flex;
        justify-content: space-around;
        margin-top: -65px;
        .htp-tablink-inv {
            background-color: unset;
            border: 0 !important;
            //margin-left: 40px;
            //margin-right: 40px;
            flex: 1;
            .icon-iven {
                display: block;
                img {
                    max-width: 100px;
                    max-height: 100px;
                }
            }
        }
        .htp-tablink-inv.ic-1 .icon-pos {
            margin-top: -30%;
        }
        .htp-tablink-inv.ic-2 .icon-pos {
            margin-top: -5%;
        }
        .htp-tablink-inv.active .icon-pos {
            .title-iven {
                font-weight: bold;
            }
            img {
                max-width: 130px !important;
                max-height: 130px !important;
            }
        }
        .htp-tablink-inv .icon-pos {
            -moz-transition: all 0.4s ease-in-out;
            -o-transition: all 0.4s ease-in-out;
            -webkit-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
            -webkit-animation: fadeEffect 1s;
            animation: fadeEffect 1s;
            img {
                -moz-transition: all 0.4s ease-in-out;
                -o-transition: all 0.4s ease-in-out;
                -webkit-transition: all 0.4s ease-in-out;
                transition: all 0.4s ease-in-out;
                -webkit-animation: fadeEffect 1s;
                animation: fadeEffect 1s;
            }
        }
        .htp-tablink-inv.ic-3 .icon-pos {
            margin-top: -5%;
        }
        .htp-tablink-inv.ic-4 .icon-pos {
            margin-top: -51%;
        }
        .title-iven {
            color: #b28b68;
            text-transform: uppercase;
            font-size: 15px;
            display: block;
            width: 70%;
            text-align: center;
            margin: 0 auto;
            margin-top: 15px;
        }
    }
}
.htp-tabcontents-investment {
    margin-top: 50px;
    .htp-tabcontent-inv {
        display: none;
    }
    .htp-tabcontent-inv.active {
        display: block;
        -webkit-animation: fadeEffect 1s;
        animation: fadeEffect 1s;
    }
    .item__content {
        color: #4d4d4d;
        font-size: 16px;
        line-height: 25px;
        padding: 0 20px;
        margin: 25px 0;
    }
}
}
.slider-tabcontent {
margin: 50px 0 0;
}

.section-news {
padding: 50px 0;
background: #f9f9f9;
.wrapper-news {
    .new--head {
        text-align: center;
        h4 {
            color: #578287;
            text-transform: uppercase;
            margin-top: 0;
            margin-bottom: 35px;
            font-size: 35px;
            font-weight: 400;
            font-family: "Alegreya", serif;
            text-align: center;
        }
    }
    .news-wrapper {
        .item-news {
            .new-img {
                position: relative;
                overflow: hidden;
                padding-top: 62%;
                display: block;
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
            .new-info {
                .new-info__title {
                    text-transform: uppercase;
                    font-size: 15px;
                    font-weight: 600;
                    line-height: 22px;
                    a {
                        color: #333;
                    }
                }
                .new-info__btn {
                    padding: 5px 10px;
                    background: #578287;
                    color: #fff;
                    display: inline-block;
                    border-radius: 5px;
                }
            }
        }
    }
}
}
#footer {
    padding: 70px 0 20px;
    position: relative;
    color: #ffffff;
    background: linear-gradient(#004951e0,#004951e0),url('../images/footer/bg-footer.png');
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    .wrapper-footer-top {
        display: flex;
        align-items: center;
    }
    .d-flex-logo {
        display: flex;
        align-items: center;
        justify-content: space-around;
        .item-logo {
            flex: 1;
            @media (max-width: 991px) {
                margin-top: 30px;
                }
            a {
                display: block;
                text-align: center;
                img {
                    max-height: 120px;
                }
            }
        }
    }
    .pnewle-form {
        padding: 15px;
        background: #e8f7fa;
        border-radius: 10px;
        overflow: hidden;
        h3 {
            margin: 10px 0 25px;
            color: #5e7676;
            text-transform: uppercase;
            font-weight: bold;
            display: block;
            font-size: 18px;
        }
        .form-group {
            display: flex;
            align-items: flex-end;
            margin-bottom: 5px;
            label {
                min-width: max-content;
                margin-right: 5px;
                margin-bottom: 0;
                font-weight: 600;
                color: #5e7676;
                margin-bottom: -4px;
                font-size: 14px;
            }
            input,textarea {
                background: unset !important;
                border-top: 0 !important;
                outline: 0;
                box-shadow: unset !important;
                border-left: 0 !important;
                border-right: 0 !important;
                border-radius: 0;
                border-bottom: 1px dashed #5e7676;
                font-size: 14px;
                line-height: 10px;
                padding: 0;
            }
        }
        .form-group.form-group-last {
            flex-direction: column;
            align-items: flex-start;
            label {
                padding: 20px 0 10px;
            }
        }
        .btn.btn-lg.btn-outline {
            background: #5e7676;
            color: #fff;
            padding: 6px 15px;
            font-size: 15px;
            margin-top: 10px;
        }
    }
    .middle-footer {
        margin: 50px 0;
        .wrapper-brand {
            text-align: center;
            .brand-title {
                h4 {
                    color: #fff;
                    font-weight: bold;
                    font-size: 20px;
                    text-transform: uppercase;
                }
            }
            .wrapper-logo-b {
                margin: 40px 0;
                .item {
                    padding: 0 15px;
                }
            }
            .ft_description {
                text-align: center;
                margin-top: 15px;
                display: inline-block;
                width: 100%;
                p {
                    color: #f4ebe6;
                    font-size: 13px;
                }
            }
        }
    }
    .bottom-footer {
        .copyright {
            text-align: center;
            p {
                margin: 0;
                padding: 10px;
                font-weight: bold;
                color: #f4ebe6;
            }
        }
    }
}
/* ================================================================= */
@media (min-width: 1024px) {
    #main-header-mob {
        display: none;
    }
}
@media (max-width: 1023px) {
    #mainheader-menu.wrapper-header {
        display: none;
    }
    .wrapper-mobile-f {
        padding: 10px 20px;
    }
    .d-flex-mob {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .item.f-logo-mob {
            a {
                display: block;
                img {
                    max-height: 80px;
                }
            }
        }
        .item-menu {
            display: flex;
            align-items: center;
            .menu-lang {
                margin-right: 20px;
                #lang-mob {
                    color: #9fc0c4;
                    font-size: 24px;
                    text-transform: uppercase;
                    font-weight: bold;
                    cursor: pointer;
                }
            }
            .menu-ico {
                #menu-open-mob {
                    display: block;
                    cursor: pointer;
                    i {
                        font-size: 30px;
                        color: #dbc570;
                        font-weight: normal;
                    }
                }
            }
        }
    }
    .sub-head.active .main {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        opacity: 1;
    }
    .sub-head .main {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 999;
        background: rgb(86 86 86 / 48%);
        -webkit-transition: all cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
        transition: all cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        opacity: 0;
    }
    .sub-head.active .main .bar .nv-logo {
        opacity: 1;
        -webkit-transition-delay: 0.3s;
        transition-delay: 0.3s;
    }
    .sub-head .main .bar .nv-logo {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 40px;
        transition: all 0.2s ease-in-out;
        width: 100%;
        opacity: 0;
        text-align: center;
        
    }  
    .sub-head .main .bar {
        padding: 30px 20px;     
    } 
    .sub-head .main .bar {
        display: inline-block;
        vertical-align: middle;
        text-align: left;
        background: #004951;
        width: 500px;
        height: 100%;
        padding: 40px 20px 20px;
        overflow: auto;
        @media (max-width: 500px) {
            width: 100%;
        }
        ul {
            list-style: none;
        }
    }
    #menu-main-menu li {
        list-style: none;
        text-align: center;
    }
    .sub-head.active .main .bar nav > ul > li {
        -webkit-transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 1s;
        transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 1s;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 1;
    }
    .sub-head .main .bar nav > ul > li {
        -webkit-transform: translate(0, -50px);
        transform: translate(0, -50px);
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        opacity: 0;
    }
    .sub-head .main .bar nav a {
        display: block;
        font-size: 18px;
        color: #9fc0c4;
        padding: 10px 0;
        font-weight: 600;
        text-transform: uppercase;
    }
    #menu-open-mob.active {
        z-index: 9999;
        position: relative;
        i {
            &::before {
                content: "\f00d";
            }
        }
    }
}
.hompage-banner-secc {
    .wrapper-banner_content .item-banner-content {
        @media (max-width: 1023px) {
            top: 25%;
        }
    }
}
.section-ecological {
    @media (max-width: 991px) {
        padding: 30px 0;
    }
    .sth_title a img {
        @media (max-width: 1023px) {
            max-width: 320px;
        }
    }
    .la-ne {
        @media (max-width: 1023px) {
            max-width: 220px;
        }
        @media (max-width: 991PX) {
            max-width: 200px;
            top: -3%;
        }
        @media (max-width: 480px) {
            max-width: 150px;
            top: 6%;
        }
    }
}
.section-location .lane {
    @media (max-width: 1023px) {
        max-width: 220px;
        top: -6%;
    }
    @media (max-width: 991PX) {
        max-width: 200px;
        top: -3%;
    }
    @media (max-width: 480px) {
        max-width: 150px;
        top: -2%;
    }
}
.section-location {
    .wrapper-section-location .wrapper-map .dot-ani {
        @media (max-width: 1023px) {
            //max-width: 220px;
            //top: -6%;
        }
    }
}
.section-investment {
    .investment-table {
        @media (max-width: 1023px) {
            left: 30px;

        }
    }
}
@media (max-width: 991px) {
    .col-xs-100 {
        width: 100%;
    }   
}
.section-ecological .grid_sth__content {
    .sth_item-content {
        @media (max-width: 991px) {
            flex-direction: column;
        }
    }
}
.section-location {
    .wrapper-section-location {
        @media (max-width: 991px) {
            flex-direction: column;
        }
    }
}
#footer {
    .wrapper-footer-top {
        @media (max-width: 991px) {
            flex-direction: column-reverse;
        }
    }
}
.swiper-slide-timeline {
    .timestamp {
        @media (max-width: 600px) {
            padding: 0px 10px;
        }
    }
    .status {
        @media (max-width: 600px) {
            padding: 0px 10px;
        }
        ul {
            @media (max-width: 600px) {
                list-style: none;
                padding-left: 0;
            }
            li {
                font-size: 13px;
            }
        }
    }
}
@media (min-width: 1024px) {
    .main-nav.nav-left {
        flex: 0 0 40%;
    }
    .main-nav.nav-right {
        flex: 0 0 40%;
    }
}
@media (min-width: 1024px) and (max-width: 1199px) {
    .mainheader-height .header-navbar-menu .main-nav {
        //padding: 0 25px;
    }
    .mainheader-height .header-navbar-menu .main-nav ul li a {
        padding: 0 5px;
    }
}
@media (max-width: 767px) { 
    .section-utili .wrapper-section-utili .ultili_title h4,
    .section-location .wrapper-section-location .grid_lct__content .lct_item-content .lct_item_title h4,
    .section-video .wrapper-video .grid_video__content .video_title h4 {
        font-size: 24px;
    }
    .section-plane .grid_sth__content .place-title h4,
    .section-investment .wrapper-investment .homepage-banner-investment h4,
    .section-news .wrapper-news .new--head h4 {
        font-size: 27px;
    }

}
@media (max-width: 600px) {
    .hompage-banner-secc .wrapper-banner_content .item-banner-content {
        top: 29%;
        width: 80%;
        .banner_title h4 {
            font-size: 17px;
            margin-bottom: 0;
        }

        .banner_subtitle {
            margin-top: 20px;
                p {
                font-size: 14px;
            }
        }
    }
    .section-investment .investment-table {
        left: 0;
        .title-iven {
            width: 100% !important;
            min-height: 63px;
            font-size: 13px !important;
        }
    }
    .section-investment .investment-table .htp-tablinks-investment .htp-tablink-inv .icon-pos {
        margin-top: 0 !important;
    }
    .section-investment .investment-table .htp-tablinks-investment .htp-tablink-inv .icon-iven img {
        max-width: 80px;
        max-height: 80px;
    }
    .section-investment .investment-table .htp-tablinks-investment .htp-tablink-inv.active .icon-pos img {
        max-width: 100px !important;
        max-height: 100px !important;
    }
}
@media (max-width: 480px) {
    .section-location .wrapper-section-location .wrapper-map .dot-ani {
        bottom: 33%;
        left: 59%;
    }
}
